body {
  font-size: 14px;
}

.container {
  margin: 30px auto;
  width: 500px;
}

.tab-area {
  display: flex;
}

/* .tab-area li a { */
.tab {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  /* color: red; */
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.menu {
  display: flex;
}

.genre li a {
  /* display: inline-block; */
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.tab.active {
  background: #333;
  color: #fff;
}

.tab:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}
.genre.active {
  display: flex;
  background: #333;
  color: #fff;
  min-height: 150px;
  padding: 12px;
  display: block;
}
.genre {
  display: none;
}

.content {
  /* display: flex; */
  width: 200px;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

