body {
  font-size: 14px;
}
.page-title {
  text-align: center;
}

.container {
  margin: 30px auto;
  width: 500px;
}

.tab-area {
  display: flex;
}

.tab-area > li {
  flex: 1;
}

.tab {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.tab.active {
  background: skyblue;
  color: #fff;
}

.tab:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;
}
.genre-container.active {
  background: skyblue;
  display: flex;
  color: #fff;
  min-height: 150px;
  padding: 12px;
}

.genre-container {
  display: none;
}

.content {
  padding: 8px 0;
  flex: 1;
}

/* .title-area,
.title-area > li {
  text-align: left;
  display: inline-block;
  align-items: baseline;
}

.title-area>li>a {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.article-container{
  display: flex;
}

.comment-container{
  display: flex;
}
.new,
.comment-icon {
  height: 14px;
  width: auto;
  margin-top: 4px;
  /* float: right; */
  /* vertical-align: middle; */
}
.comment-num{
  font-size: 4px;
  margin-top: 4px;
   /* height: 4px; */
  /* width: auto; */
}

.image-area {
  display: flex;
  justify-content: center;
}

.article-image {
  width: auto;
  height: 100px;
}
