#carousel {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.js-slides-container {
  width: 320px;
  height: 200px;
  margin: 16px auto;
  position: relative;
}

.js-carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(80, 79, 79, 0.5);
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

#prev:hover,
#next:hover {
  opacity: 0.8;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.js-hidden {
  display: none;
}
