.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 50%;
  border-collapse: collapse;
  border: 1px solid black;
}

.th {
  display: flex;
  border: 1px solid black;
  background-color: #c2ff00;
  text-align: left;
  padding: 8px;
}

.cells-container {
  display: flex;
}

.td {
  border: 1px solid black;
  background-color: #00c7f2;
  text-align: left;
  padding: 8px;
}
/*
.row>.th{
  display: table-row;
} */

.sort-button {
  width: 16px;
  height: 16px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slides-container {
  width: 320px;
  height: 200px;
  margin: 16px auto;
  position: relative;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(255 255 255 / 30%);
  color: rgba(80 79 79 / 50%);
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  opacity: 0.8;
}

.prev:disabled,
.next:disabled {
  opacity: 1;
  cursor: default;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.current-slide {
  z-index: 1;
}
