.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.table {
  width: 50%;
  border-collapse: collapse;
  border: 1px solid black;
}

.th {
  border: 1px solid black;
  background-color: #c2ff00;
  text-align: left;
  padding: 8px;
}

.td {
  border: 1px solid black;
  background-color:  #00c7f2;
  text-align: left;
  padding: 8px;
}
