
button {
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

body {
  font-size: 14px;
}

ul {
  pointer-events: none;
}

.open-button {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  transition: opacity 0.4s;
  z-index: 2;
}

.mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  z-index: 1;
}

.modal, .button{
  background: #fff;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
  transition: transform 0.4s;
  z-index: 2;
}

.button {
  cursor: pointer;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
  opacity: 0.8;
}

.modal > p {
  margin: 0 0 20px;
  text-align: center;
}

.disappear {
  opacity: 0;
}

.frame-out {
  transform: translate(0, -500px);
}
